@{
  Layout="Shared/_Layout.cshtml";
}

@if(Model.GetTotalMatches() == 1)
{
  <h3><strong>"@Model.GetInputSearchTerm()"</strong> appears <strong>@Model.GetTotalMatches()</strong> time in the searched text.</h3>
}
else {
  <h3><strong>"@Model.GetInputSearchTerm()"</strong> appears <strong>@Model.GetTotalMatches()</strong> times in the searched text.</h3>
}



<div class="row" id="inputted-text">
  <h3>YOU SEARCHED:</h3>
  <p>@Model.GetInputTextBlock()</p>
</div>

<p><a href="/">Enter a new search.</a></p>
